.logo {
    height: 40px;
}

.custom-list-nav {
    list-style: none;
}

.custom-list-nav a,
.custom-icon-footer {
    color: white;
    text-decoration: none;
}

.custom-size-icon-header {
    height: 23px;
    width: 35px;
}

.film-card {
    width: 250px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
}

.film-card:hover {
    transform: scale(1.1);
}

.swiper-slide {
    width: 250px !important;

}

.swiper-button-next,
.swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.hide-section {
    visibility: hidden;
}

.btn-custom-footer {
    height: 20px;
    border: 1px solid white;
    width: 100px;
}
.size-footer{
    font-size: 10px;
}
.offcanvas{
    background-color: black;
    color: gray;
    width: 250px!important;
}

.size-cambia-profilo{
    font-size: 10px;
}

.offcanvas-body li{
    list-style: none;
}
.style-break{
    border-top: 1px solid grey;
    margin-top: 15px;
}